.card-footer {
  width: 317px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  position: absolute;
  bottom: 0;
  /*center all the icons and give some spacing between*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

}

.social-media-icons {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

.social-media-icons:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
  transform: scale(1.21);
}